# Data Preparation

In [2]:
import numpy as np
import pandas as pd

data = pd.read_csv("speaker-speech.csv")

The speakers First Citizen and Second Citizen have spaces within them and since we'll be working with these from a dataframe and list perspective it's better to transcribe the spaces into underscores until the final datasets

In [3]:
data['speaker'] = data['speaker'].str.replace('First Citizen', 'First_Citizen', regex=False)
data['speaker'] = data['speaker'].str.replace('Second Citizen', 'Second_Citizen', regex=False)

In [4]:
# convert the speaker column into a list

speaker = data['speaker'].tolist()

# initialize a data dictionary to store the different lists

data_dict = {}

# create a list of the unique speakers to loop through
unique_speaker = list(dict.fromkeys(speaker))

for talking in unique_speaker:
    data_dict[talking] = []  # Initialize the list for each speaker
    for i in range(len(data)):
        if data.loc[i, 'speaker'] == talking:
            data_dict[talking].append(data.loc[i, 'speech_cleaned'])

# Determine the count of words per speaker

Our goals is to use these results in the speech generation by randomly selecting the number of words that speaker's speech may be

In [6]:
# List of lists of speeches
all_lists = [data_dict['First_Citizen'], data_dict['All'], data_dict['Second_Citizen'], data_dict['MENENIUS'], data_dict['MARCIUS']]

# Corresponding variable names for clarity
speaker_names = ['first_citizen', 'all', 'second_citizen', 'menenius', 'marcius']

# Store the resulting word counts in a dictionary
speech_words_count = {}

# Loop through each list and compute the count of words
for i in range(len(all_lists)):
    speech_list = all_lists[i]
    speech_list_count = []
    for j in range(len(speech_list)):
         speech_list_count.append(len(speech_list[j].split()))
    speech_words_count[speaker_names[i]] = speech_list_count

In [8]:
# save the files into CSVs

for name, word_count in speech_words_count.items():
    df = pd.DataFrame(word_count, columns=['word'])
    df.to_csv(f"{name}_word_count.csv", index=True)

In [9]:
all_count = pd.read_csv('all_word_count.csv')

In [10]:
all_count

   Unnamed: 0  word
0           0     2
1           1     2
2           2     4
3           3    10
4           4    10
5           5     2

In [51]:
all_word_count = pd.read_csv('all_word_count.csv')
all_word_count

   Unnamed: 0  word
0           0     2
1           1     2
2           2     4
3           3    10
4           4    10
5           5     2

In [52]:
all_word_count = all_word_count.iloc[:, 1:]
all_word_count

   word
0     2
1     2
2     4
3    10
4    10
5     2

In [53]:
all_word_count.to_csv("all_word_count.csv", index=True)